.mobile_header {
display: none;
}
.header_first {
	background: url("../images/header_bg.jpg") no-repeat;
	.header_top {
		height: 30px;
		background-color: #0f0f0f;	
		opacity: 0.85;
		.header_menu_top {
			display: flex;
			height: 30px;
			align-items: center;
			padding-left: 180px;
			li {
				padding: 10px;				
				a {
					color: white;
					font-family: Lato;
					font-size: 14px;
					font-weight: 700;
				}
			}
		} 
	}
}
.header_middle {
	display: flex;
	height: 133px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	> div {
		flex-grow: 1;
	}
	.tel_h {
		display: flex;
		flex-direction: column;
		a {
			color: #001521;
			font-family: Lato;
			font-size: 20px;
			font-weight: 500;
			padding: 8px 0;		
			display: flex;
			align-items: center;	
		}
		.tel_1 i {
			background: url("../images/tel_header_icon.png") no-repeat; 
			width: 28px;
			height: 28px;
			display: block;
			margin-right: 10px
		}
		.tel_2 i {
			background: url("../images/viber_icon.png") no-repeat; 
			width: 28px;
			height: 28px;
			display: block;
			margin-right: 10px
		}
	}
	.call_h {
		.modalbox {
			width: 235px;
			height: 45px;
			display: flex;
			color: white;
			align-items: center;
			justify-content: center;
			background: #61a3a7;
			box-shadow: 0 0 5px rgba(112, 112, 112, 0.3);
			&:hover {
				background: #5c9b9f;
			}
		}
		p {
			color: #001521;
			font-family: Lato;
			font-size: 16px;
			font-weight: 500;
			margin-top: 8px;
			margin-left: 15px;
		}
	}	
	.search_h {
		flex-grow: 2;
		.dgwt-wcas-search-wrapp {
			position: relative;
    		max-width: 350px;
    		margin: 0 !important;
		}
		.dgwt-wcas-search-input {
		    width: 100% !important;
		    max-width: 350px;
		    height: 45px !important;
		    border: 0 !important;
		    border-radius: 0 !important;
		    box-shadow: 0 0 5px rgba(112, 112, 112, 0.3);
		    background-color: #ffffff !important;
		    font-family: Lato;
		    font-size: 16px !important;
		    color: #b8b8b8;
		    padding: 0 35px 0 20px !important;
		    &::placeholder {
		    	font-style: normal !important;
		    	font-size: 16px !important;
		    	color: #b8b8b8;
		    }
		}
		.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
			height: 45px;
		}
		.dgwt-wcas-ico-magnifier {
			height: 50% !important;
		}

/*		button {
			font-size: 0;
			background: url("../images/search.png") no-repeat; 
			height: 20px;
			width: 20px;
			position: absolute;
		    top: 14px;
		    right: 14px;
		    border: 0;
		    cursor: pointer;
		}*/
	}
}

#modal_call {
	h2 {
		margin-bottom: 20px
	}
	input {
		height: 40px;
		width: 100%;
		margin-bottom: 10px;
		border-radius: 5px;
		border: 1px solid #61a3a7;
		padding: 5px;
		&[type="submit"] {
			background: #61a3a7;
			color: white;
			height: 50px;
			font-size: 20px;

		}
	}
	textarea {
		border: 1px solid #61a3a7;
		border-radius: 5px;
		width: 100%;
		padding: 5px;
		height: 120px;
	}
}
.header_bottom {
	height: 60px;
	background-color: #d75149;
	.header_menu {
		display: flex;
		height: 60px;
		align-items: center;
		li {
			flex-grow: 1;
			text-align: center;
			height: 100%;
			display: flex;
    		justify-content: center;
    		align-items: center;
			a {
				font-family: "Lato - Semibold";
				font-size: 20px;
				font-weight: 400;
				color: #f0f0f0;
				text-transform: uppercase;
				cursor: pointer;
				&:hover {
					color: #e1c2c2;
				}
			}
		}
	}
	.product_categories {
		display: none;
		a {
			display: block;
			img {
				float: left;
				display: block;
				width: auto !important;
				max-width: 40px !important;
				margin-right: 10px !important;
			}
			.count {
				display: none;
			}
		}
		&.visible_menu {
			display: block ;
    		width: 65%;
    		left: 0;
			z-index: 5;
    		position: absolute;
    		box-shadow: 0 0 5px 1px rgba(112, 112, 112, 0.5);
			background-color: #ffffff;
			top: 58px;
			padding: 20px 0 5px 20px;
			li {
				margin-bottom: 0 !important;
				justify-content: flex-start;
				a {
					display: flex;
				}
				h2 {
					font-size: 14px !important;
    				text-transform: none;
				}
			}
			.woocommerce-loop-category__title {
				font-family: "Lato - Semibold";
				font-size: 20px;
				font-weight: 400;
				color: #61699d;
				&:hover {
					color: #61a3a7;;
				}
			}
		}
	}

}
.cart-contents {
	position: relative;
	.basket-btn__counter {
		position: absolute;
		color: white;
		font-weight: 600;
		bottom: 11px;
		left: 31px;
	}
}
.header_menu {
	position: relative;
}
.fixed_basket {
    position: fixed !important;
    top: 20px !important;
    right: 20px;
    z-index: 100;
}